@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

*{font-family: 'Playfair Display', serif;}




.bannerBgImage{
    height: 100vh;
    background-image: url('../images/1.jpg');
    background-size: cover;
    position: relative;

}
.bannerText{
    text-align: right;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%,-50%);
    color: white;
}
.bannerTitle{
    font-size: 4rem;

}
.bannerDesc{
    font-size: 2rem;
}
.card{
    cursor: pointer;
}
.card:hover{
    background-color: #87ceeb;

    border: 2px solid #deb887;
}
.BIcon{
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid:hover{
    border: 2px solid burlywood;
}
.card-img-top{
    height: 30vh;
}
